<div class="box">
  <h2 class="heading">Enter you credentails</h2>
  <form class="form">
    <div class="field">
      <label for="email">Email</label>
      <input type="email" name="email">
    </div>
    <div class="field">
      <label for="password">Password</label>
      <input type="password" name="password" placeholder="App specific password only">
    </div>

  </form>
  <div class="btn-div">
    <button class="btn" type="submit" (click)="readData()"> Read data from email</button>
  </div>
</div>

<div *ngIf="show">
  <!-- <div> -->
  <h2 class="subject">{{mailData.subject}}</h2>
  <p class="from">From: {{mailData.from.value[0].address}}</p>
  <div class="to-div">
    <p class="to-p"> To: <span class="to" *ngFor="let value of mailData.to.value">{{value.address}};</span></p>
  </div>
  <p class="received-at">Received At: {{mailData.date | date:'EEE dd-MMM-yy hh:mm a'}}</p>
  <br>
  <div class="body-div">
    <div class="body" [innerHTML]="mailData.html"></div>
  </div>
  <br>
  <h5>Attachment Data:</h5>
  <h5 class="attachment-data">{{mailData.attachmentData}}</h5>
</div>
