<div class="box">
  <h2 class="heading">Enter you credentails</h2>
  <form class="form">
    <div class="field">
      <label for="email">Email</label>
      <input type="email" name="email">
    </div>
    <div class="field">
      <label for="password">Password</label>
      <input type="password" name="password" placeholder="App specific password only">
    </div>

  </form>
  <div class="btn-div">
    <button class="btn" type="submit" (click)="readData()"> Read data from email</button>
    <button class="btn" type="submit" (click)="readSaveData()"> Read & Save data from email </button>
  </div>
</div>

<div *ngIf="show">
  <!-- <div> -->
  <h2 class="subject">{{mailData.subject}}</h2>
  <p class="from">From: {{mailData.from.value[0].address}}</p>
  <div class="to-div">
    <p class="to-p"> To: <span class="to" *ngFor="let value of mailData.to.value">{{value.address}};</span></p>
  </div>
  <p class="received-at">Received At: {{mailData.date | date:'EEE dd-MMM-yy hh:mm a'}}</p>
  <br>
  <div class="body-div">
    <div class="body" [innerHTML]="mailData.html"></div>
  </div>
  <br>
  <h5 *ngIf="showReadData">Attachment Data:</h5>
  <h5 *ngIf="showReadData" class="attachment-data">{{mailData.attachmentData}}</h5>
  <h5 *ngIf="showReadSaveData">Attachment Data:</h5>
  <!-- <table *ngIf="showReadSaveData" class="table">
    <thead>
      <th>SR.</th>
      <th>Date</th>
      <th>From</th>
      <th>To</th>
      <th>Reason</th>
      <th>KM</th>
      <th>Amt</th>
    </thead>
    <tr *ngFor="let item of mailData.attachmentData">
      <ng-container *ngIf="item['SR.'] !== 'Total'">
        <td>{{ item['SR.'] }}</td>
        <td>{{ convertExcelDate(item['Date']) | date: 'dd/MM/YYYY' }}</td>
        <td>{{ item['From '] }}</td>
        <td>{{ item['To '] }}</td>
        <td>{{ item['Reason'] }}</td>
        <td>{{ item['KM'] }}</td>
        <td>{{ item['Amt'] }}</td>
      </ng-container>
      <ng-container *ngIf="item['SR.'] === 'Total'">
        <td colspan="5">{{ item['SR.'] }}</td>
        <td>{{ item['Amt'] }}</td>
      </ng-container>
    </tr>
  </table> -->
  <table class="table" *ngIf="showReadSaveData">
    <tr>
      <th *ngFor=" let header of getColumnHeaders(mailData.attachmentData)">{{ header }}</th>
    </tr>
    <tr *ngFor="let item of mailData.attachmentData">
      <td *ngFor="let header of getColumnHeaders(mailData.attachmentData)">{{ item[header] || '' }}</td>
    </tr>
  </table>
</div>
